/**
Общие классы
 */
:root {
	box-sizing: border-box;
}
::before,
::after {
	box-sizing: inherit;
}
body {
	background-color: #ffffff;
	margin: 0;
	box-sizing: border-box;
}
div {
	box-sizing: border-box;
}
a {
	text-decoration: none;
}
h1 {
	text-align: center;
}
h3 {
	text-align: center;
	margin: 0.5em 0;
}
.msg-error {
	color: red;
	text-align: center;
	padding: 0.5em 0;
}
.msg-success {
	color: green;
	text-align: center;
	padding: 0.5em 0;
}
.data-form {
	width: 40em;
	margin-left: calc(50% - 20em);
	margin-top: 20px;
	text-align: center;
	padding: 1em 2em;
	box-shadow: 1px 1px 2px 1px grey;
}
.data-form input[type=text], .data-form input[type=number],.data-form input[type=password], .data-form select {
	width: 30em;
}
.data-form input[type=button], .data-form input[type=submit] {
	width: 15em;
}
.form-tabs {
	display: inline-block;
	width: 100%;
	background-color: #9eb8df;
	padding: 0 5px;
}
.form-tabs .tab {
	display: inline-block;
	float: left;
	padding: 5px 15px;
	border-width: 1px;
	border-style: solid;
	border-bottom-style: none;
	margin-left: 3px;
	margin-top: 0.5em;
	font-size: 14pt;
}
.form-tabs .tab.active {
	background-color: #7e98bf;
}
.form-tabs .tab a {
	color: #120e33;
}
.data-line {
	padding: 10px 0;
}
.link-button {
	background-color: #d3d3d6;
	display: inline-block;
	padding: 4px;
	border-radius: 20px;
	min-width: 8em;
	text-align: center;
	color: #1f3b8c;
}
/**
Тултипы
 */
.ui-widget.ui-widget-content {
	border-color: gray;
	color: #555555;
}
.ui-widget-shadow {
	-webkit-box-shadow:2px 2px 2px #888;
	box-shadow:2px 2px 2px #888
}
/**
Верхнее меню
 */
#navbar {
	width: 100%;
	height: 80px;
	background-color: #d6d6e0;
	box-shadow: inset 0px -2px 2px 0px grey;
}
#navbar ul {
	list-style: none;
	margin: 38px 25px 0 0;
	display: inline-block;
	padding: 0;
	float: right;
}
#navbar li {
	display: inline-block;
	padding: 0.5em 1em;
	font-size: 14pt;
	border-top-style: solid;
	border-left-style: solid;
	border-width: 1px;
	border-bottom-width: 0px;
	vertical-align: bottom;
	border-right-style: solid;
	border-color: gray;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}
#navbar li a {
	color: black;
}
#navbar li a:hover {
	color: mediumblue;
}
#header-select-company {
	float: left;
	margin-left: 2em;
	font-size: 18pt;
	margin-top: 1em;
}
.company-money {
	font-size: 12pt;
}
/**
Страница предприятий
 */
.units-block {
	border-style: solid;
	border-width: 1px;
	border-radius: 10px;
	margin: 15px 1%;
	padding: 5px 10px;
	display: inline-block;
	width: 98%;
}
.units-block h3 {
	margin: 5px 2%;
}
.link-button {
	float: right;
}
.unit-item {
	display: inline-block;
	border-width: 1px;
	border-style: dashed;
	padding: 7px 15px;
	min-width: 15em;
	text-align: center;
}
/**
Страница предприятия
 */
#unit-form {
	padding: 5px 1em;
	width: 80em;
	margin-left: calc(50% - 40em);
	display: inline-block;
}
.products-table {
	width: 100%;
}
.products-table tr {

}
.products-table th {
	background-color: #9eb8df;
	padding: 2px 0;
}
.products-table td {
	background-color: #d6d6e0;
	padding: 4px 0;
}
.products-table input[type=text], .products-table input[type=number],.products-table input[type=password], .products-table select {
	width: 10em;
}
#dialog-window {
	position: absolute;
	box-shadow: 1px 1px 2px 1px grey;
	display: none;
	width: 76vw;
	background-color: #eeeeee;
	border-radius: 10px;
	left: 12vw;
	top: 30vh;
	padding: 15px 10px;
}
.product-supply {
	width: 100%;
}
.product-supply td, .product-supply th {
	background-color: transparent;
}
/**
Форма добавления поставки
 */
.add-supply-form {

}
.add-supply-title {
	text-align: center;
	font-weight: bold;
	color: #0c183a;
	padding-bottom: 7px;
	font-size: 14pt;
}
.supply-item {
	display: inline-block;
	border-width: 1px;
	border-style: dashed;
	padding: 5px 7px;
	min-width: 13em;
	text-align: center;
	margin: 3px 0px;
	cursor: pointer;
}
.supply-item:hover {
	background-color: #bfbfce;
}
.category-item {

}
.product-type-item {

}
.supplier-items {
	width: 100%;
	border-spacing: 0px;
}
.supplier-items td, .supplier-items th  {
	border-bottom-style: solid;
	border-width: 1px;
	padding: 5px 0;
	border-color: gray;
}
.supplier-items .select-supplier {
	cursor: pointer;
	font-size: 14pt;
	display: inline-block;
	margin-left: 6px;
}
.supplier-items .select-supplier:hover {
	color: #1f3b8c;
}
.supplier-items input[type=number] {
	width: 5em;
}